#showcase {
  height: calc(100vh - 77px);
  background: linear-gradient(#0009, #0009),
    url("/showcase.jpg") center / cover no-repeat;
}

.avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
#dashboard, #posts, #post {
  width: 70%;
  margin: 0 auto;
}

#spinner {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
}

.spinner {
  width: 100px;
  height: 100px;
}


